.primary {
  color: white;
  background: #002e5b;
  width: 100px;
  border: 1px white;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}
form {
  width: 100%;
  text-align: center;
}
input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  width: 25% !important;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.slide-container {
  overflow: auto;
  white-space: nowrap;
}
.rowWise1 {
  display: flex;
}
.colWise3 {
  flex: 25%;
  padding: 10px;
}
.colWise2 {
  flex: 100%;
}

.colWise1 {
  flex: 50%;
}
.box2 {
  text-align: center;
}
div.scroll {
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}
.rowWise {
  display: flex;
}
.colWise {
  flex: 50%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cover {
  object-fit: cover;
}
.box {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 992px) {
  .colWise {
    flex: 100%;
  }
  .rowWise {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and(max-width:600px) {
  .rowWise {
    flex-direction: column;
  }
}
