<div>

    <section>
        <div class="rowWise1">
            <div class="colWise1">
                <div class="box2">
                    <img calss="cover" style="width: 30%;
  height: 50%;" src="../assets/welcome-image.svg" alt="triangle with all three sides equal" width="100" height="100" />

                </div>

            </div>
            <div class="colWise1">
                <h1>Life is short </h1> <br/>
                <h1> and the world is wide!</h1>
            </div>
        </div>

    </section>

    <section>
        <h2 id="1">Feature</h2>
        <div class="rowWise scroll">
            <div *ngFor="let img of cityList">
                <!--{{img.imageUrl}}-->
                <div class="colWise">
                    <img style="border-radius: 8px;" [src]="img.imageUrl" width="250" height="150" />
                    <div class="container">
                        <p>{{img.city}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--{{cityList}}-->

    </section>

    <section id="2">
        <h2>Weather</h2>
        <div class="rowWise" style="height: 50px;">
            <div class="colWise2" style="background: #002e5b;padding: 5px;font-size: 12px;color: white">
                <span>The Weather Channel</span>
            </div>
        </div>
        <div class="flex-container">
            <div *ngFor="let img of weatherList;let i=index" [ngStyle]="{backgroundColor:getColor(i)}">
                <div style="color:white">
                    <div>{{img.city}}</div>
                    <div><img style="width: 50px;
    height: 35px;" src="../assets/icon-party-sunny.svg" alt="triangle with all three sides equal" width="100" height="100"
                        /></div>
                    <div> {{img.temp_Celsius}}</div>
                </div>
            </div>
        </div>

        <!--{{weatherList}}-->
    </section>

    <section id="3">
        <h2>Get a Quoate</h2>
        <div class="rowWise">
            <div class="colWise2">
                <form [formGroup]='proposalForm' (ngSubmit)="createProposal()" novalidate>
                    <label for="yname">Your Name</label>&nbsp;
                    <input type="text" id="yname" name="yname"><br/>
                    <label for="contactNumber">Contact Number</label>&nbsp;
                    <input type="text" id="contactNumber" name="contactNumber"><br/>
                    <label for="Email" style="margin-left: 30px;">Email</label>&nbsp;
                    <input type="text" id="email" name="email"><br/>

                    <button type="submit" class="btn primary">SUBMIT</button>
                </form>
            </div>
        </div>

    </section>
</div>